:root {
    --bakground_1: #464866;
    --bakground_2: white;
    --bright: #34b1e7f3;
    --btn-kustom:#e9384a;
}

body {
    height: 100%;
}

.font_title {
    font-family: 'Bodoni Moda', serif;
    text-align: center;
}

.sectioner {
    border-right: 1px solid #28648a;
    padding: 1rem;
}

.bright {
    color: white;
    background-color: var(--bright);
}
.padd {
    padding: 1rem;
}

.bg-purple {
    color: #aaabb8;
    background-color: var(--bakground_1);
}

.bg-blue {
    color: rgb(0, 0, 0);
    background-color: var(--bakground_2);
}

.form-control {
    border: 0;
    border-bottom: 1px solid rgb(129, 129, 129);
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
}
