:root {
    --bakground: #303030;
    --heading: #461e88ec;
    --heading-sub: rgb(241, 107, 94);
    --btn-kustom:#e9384a;
}

.font_title {
    font-family: 'Bodoni Moda', serif;
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(90deg, #fd1c32 50%, black 50%);
    background-repeat: no-repeat;
    margin: 0px;
  }


.form-control {
    border: 0;
    border-bottom: 1px solid rgb(129, 129, 129);
}
.h3-kustom {
    color: var(--heading);
    font-family: 'Roboto Condensed', sans-serif;
}

.btn-outline-kustom{color:#000000;border-color: var(--btn-kustom); font-family: 'Open Sans', sans-serif; border-radius:0.25rem!important}
.btn-outline-kustom:hover{color:#fff;background-color: var(--btn-kustom);border-color: var(--btn-kustom); transition: 800ms;}
.btn-outline-kustom.focus,.btn-outline-kustom:focus{box-shadow:0 0 0 .2rem var(--btn-kustom);}
.btn-outline-kustom.disabled,.btn-outline-kustom:disabled{color: var(--btn-kustom);;background-color:transparent}
.btn-outline-kustom:not(:disabled):not(.disabled).active,.btn-outline-kustom:not(:disabled):not(.disabled):active,.show>
.btn-outline-kustom.dropdown-toggle{color:#fff;background-color: var(--btn-kustom);;border-color: var(--btn-kustom);}
.btn-outline-kustom:not(:disabled):not(.disabled).active:focus,.btn-outline-kustom:not(:disabled):not(.disabled):active:focus,.show>
.btn-outline-kustom.dropdown-toggle:focus{box-shadow:0 0 0 .2rem var(--btn-kustom);}

.h5-kustom {
    color: var(--heading-sub);
    font-family: 'Roboto Condensed', sans-serif;
}

input[type="radio"] {
    display: none;}