.parallax {
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body, html {
    height: 100%;
    overflow-x: hidden;
  }

  .one {
    /* The image used */
    background-image: url("../images/onee.png");
}
.two {
    /* The image used */
    background-image: url("../images/two.png");
}

.three {
    /* The image used */
    background-image: url("../images/three.png");
}

.four {
    /* The image used */
    background-image: url("../images/four.png");
}

.five {
    /* The image used */
    background-image: url("../images/five.png");
}

.six {
    /* The image used */
    background-image: url("../images/six.png");
}

.seven {
    /* The image used */
    background-image: url("../images/seven.png");
}

#cards {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

#cards:hover {
    background-color: white;
    transition: ease;
    color: black;
    transition-duration: 500ms;
}

.cafe {
    background-image: url("../images/Instagrammable-restaurants-Manila.jpg");
}