:root{
    --primary:#291968;
    --border-bottom: #dddddd2f;
    --accent:#D7251A;
    --backgrnd:#F7F7F7;
    
    --navbarcolor: #5c6ae4;
    --navbartext: #FEFAE1;
    --navtexthover: #01AFBA;
  }

  .scroll {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--navbartext) var(--navtexthover);
  }
  
.scroll::-webkit-scrollbar {width: 0.5rem;}
.scroll::-webkit-scrollbar-track {background: var(--navbartext);}
.scroll::-webkit-scrollbar-thumb {background: var(--navtexthover);}
body::-webkit-scrollbar-track {background: var(--navbartext);}
body::-webkit-scrollbar-thumb {background: var(--navtexthover);}
body::-webkit-scrollbar {width: 0.5rem;}

  a{text-decoration: none;}
  a:hover{text-decoration: none;}

  .ulres{width: 20vw;}

#items, .drpdwn{color: var(--navbartext);}

#items{font-size: 1.4rem;}

.li-items{
    border-bottom: 1px solid var(--border-bottom);
    padding: 1.5rem;
}

#items:hover {color: var(--navtexthover);}

.navbar-custom {
    position: fixed;
    z-index:5000;
    background-color: var(--navbarcolor);
    transition: width 200ms ease;
  }
  
  .navbar-nav-custom {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 100%;
  }
  
  .nav-item-custom {
    width: 100%;
  }
  
  .nav-item-custom:last-child {
    margin-top: auto;
  }
  
  .nav-link-custom {
    display: flex;
    align-items: center;
    height: 3.5rem;
    color: #000000;
    text-decoration: none;
    transition: 0.6s;
  }

  
  @media only screen and (max-width: 650px){
    .navbar-nav-custom{
        width: 100vw;
        height:100vh;
    }   
    #items, .drpdwn{font-size: 1rem;}
    .ulres{width: 75vw;}
}
  @media only screen and (min-width: 601px) {
    .navbar-nav-custom {
      top: 0;
      width: 17rem;
      height: 100vh;
    }
  
    body{padding-bottom: 5rem;}
  
  }