/* funky tee infodeck */

.hide {
    display: none;
    position: absolute;
    background-color: #dbd8f1;
    border: 2px solid black;
  }
  
  .info:hover + .hide {
    display: block;
  }

 td {
    border-bottom: 1px solid white;
  }

  /* END funky tee */
