a.linktext {
    color: black;
    padding-inline: 30px;
    text-transform: uppercase;
}

a.linktext:hover {
    text-decoration: none;
    color: blue;
    border-bottom: 3px solid blue;
}
.linktext:active {
    text-decoration: none;
    color: blue;
    border-bottom: 3px solid blue;
}
.form-group-float{position:relative;}
.form-control-float{
    position: relative;
    display: block;
    background-color: transparent;
    margin: 0px auto;
    padding: 20px;
    outline: none !important;
    font-size: 20px;
    color: rgba(0,0,0,0.8);
    transition: all .2s ease-in-out;
}
.form-control-float:focus{box-shadow:none;
    background-position: left bottom;
    background-size: 100% 1px;
  }

.label-float{
    position: absolute;
    text-align: left;
    display: block;
    background: transparent;
    color: rgba(0,0,0,0.6);
    margin: 0px auto;
    cursor: text;
    transition: all .15s ease-in-out;
    left:30px; 
    top:10px;
}

.form-control-float::placeholder{
    color: transparent;
}
.form-control-float:focus + .label-float, .form-control-float:not(:placeholder-shown) + .label-float{left:20px; top:-10px; color: black; width: auto; background-color: white; }