.script {
    font-family: 'Dancing Script', cursive;
}

.small-text {
    font-size: 0.75rem;
}

.fdlkjgkjgh {
    font-family: sans-serif;
}

.btn-block :hover {
    background-color: red;
}

.mainold:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    background-image: url('../images/images.jpg');
    background-position: 50% 0;
}