body{
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: 'Acme', sans-serif;
}
html{scroll-behavior: smooth;}

.section-title {position: relative}
.services {
	background-color: #e9e9e9;
	background: url(images/marble.jpg); 
	filter:opacity(0.95); 
	background-size: cover;
}

.single-service {
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	-webkit-transition: .3s;
	transition: .3s;
	height: 100%;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.16)
}

.single-service:before {
	position: absolute;
	width: 0;
	height: 0;
	background-color: goldenrod;
	left: 0;
	top: 0;
	content: "";
	-webkit-transition: .3s;
	transition: .3s
}

.single-service:hover:after,.single-service:hover:before {
	width: 50%;
	height: 2px;
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover {
	box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.10)
}
.single-service i.fa {
	padding:5px;
	border: 1px solid #ddd;
	border-radius: 50%;
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover i.fa {
	background-color: goldenrod;
	color: #fff;
	border-color: goldenrod;
	border-radius: 0;
}

.single-service p {
	font-size: 15px;
	line-height: 2;
}

.goldentext {
    background: -webkit-linear-gradient(to right, #F9F295 0%, #E0AA3E 25%, #E0AA3E 50%, #8f6b35 75%, #ddbb4a 100%); 
    background:linear-gradient(to right,  #F9F295 0%, #E0AA3E 25%, #E0AA3E 50%, #B88A44 75%, #dba904 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
.lobster{font-family: 'Lobster', cursive;}

.totop{
	background-color: goldenrod; 
	bottom:0;
	position:fixed;
	right:0;
	padding:5px;
	margin: 5px;
	font-size: 1.5rem; 
	display: inline-block; 
	border-radius: 20%;
	z-index: 3000;
}


#hov{color: white;}
#hov:active{color: gold;}
#hov:hover{color: gold; background-color: black; padding: 1px}

.scroll::-webkit-scrollbar {width: 0.5rem;}
.scroll::-webkit-scrollbar-track {background: black;}
.scroll::-webkit-scrollbar-thumb {background: rgb(117, 92, 27);}
body::-webkit-scrollbar-track {background: #1e1e24;}
body::-webkit-scrollbar-thumb {background: rgb(179, 137, 34);}
body::-webkit-scrollbar {width: 0.5rem;}

.btn-outline-gold{color:goldenrod;border:10px solid goldenrod;}
.btn-outline-gold:hover{color:#fff;background-color:goldenrod;border-color:goldenrod}
.btn-outline-gold.focus,
.btn-outline-gold:focus{box-shadow:0 0 0 .2rem rgba(208, 255, 0, 0.5)}

.btn-outline-gold-white{color:rgb(255, 255, 255);border:2px solid rgb(255, 255, 255);}
.btn-outline-gold-white:hover{color: goldenrod;background-color:rgb(255, 255, 255);border-color:goldenrod}
.btn-outline-gold-white.focus,
.btn-outline-gold-white:focus{box-shadow:0 0 0 .2rem rgba(208, 255, 0, 0.5)}

.parallaxed { 
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
} 

.video-container {
    width: 100%;
    position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  top: -3%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.block{
	height: 50px;
	width: 50px;
	top: -14%;
	left: 44%;
	border: 5px solid white;
	padding: 0;
	margin: 0;
	background-color: goldenrod;
	position: absolute;
}

.world-map{
	background-image: url('images/world\ map.jpg'); 
	height: 100%; 
	margin-top:5vh;
}


.map-one, .map-two, .map-three{margin: 2rem 0.5rem;}

.map-one:hover .block, .map-two:hover .block, .map-three:hover .block{
	background-color: rgb(255, 255, 255);
	color: goldenrod;
	transition: all ease 0.5s;
}

.btng{display:inline-block;font-weight:400; color:#ffffff;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid goldenrod;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}
@media (prefers-reduced-motion:reduce)
{.btng{transition:none}}.btng:hover{color:#212529;text-decoration:none}
.btng.focus,.btng:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}

.btnw{border: 3px solid white !important; z-index: 200;}

a.social{
	color: white; 
	font-size: 1.3rem;
}

a.social:hover {
	color: rgb(218, 187, 11);
	z-index: 500;
}

.form-group-float{position:relative;}

.form-control-float{
    position: relative;
    display: block;
    background-color: transparent;
    margin: 5px auto;
    padding: 20px;
    outline: none !important;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    transition: all .2s ease-in-out;
}


table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  table td {
    padding: 1rem;
  }
  table td + td {
    border-left: 1px solid rgb(255, 255, 255);
  }
  table tr + tr td {
    border-top: 1px solid rgb(255, 255, 255);
  }

.form-control-float:focus{
	box-shadow:none;
    background-position: left bottom;
    background-size: 100% 1px;
  }

.label-float{
    position: absolute;
    text-align: left;
    display: block;
    background: transparent;
    color: white;
    margin: 0px auto;
    cursor: text;
    transition: all .15s ease-in-out;
    left:30px; 
    top:10px;
}
.form-control-float::placeholder{color: transparent;}
.form-control-float:focus + .label-float, .form-control-float:not(:placeholder-shown) + .label-float{left:15px; top:-20px; color: goldenrod; width: auto; }

.a-contact{color:goldenrod;}
.a-contact:hover{color: gold; text-decoration: none;}

.type-card {background-color: transparent; }

.c-small{position: relative; min-height:230px}

@media screen and (max-width: 600px){
	.d-nonee{display: none;}
}