.btn-gold{color:#fff;background-color:goldenrod;border-color:goldenrod}
.btn-gold:hover{color:#fff;background-color:gold;border-color:rgb(255, 238, 0)}
.btn-gold.focus,.btn-gold:focus
{color:#fff;background-color:gold;border-color:rgb(255, 238, 0);box-shadow:0 0 0 .2rem rgba(204, 201, 13, 0.5)}
.btn-gold.disabled,.btn-gold:disabled{color:#fff;background-color:goldenrod;border-color:goldenrod}
.btn-gold:not(:disabled):not(.disabled).active,.btn-gold:not(:disabled):not(.disabled):active,.show>.btn-gold.dropdown-toggle{color:#fff;background-color:red;border-color:#005cbf}.btn-gold:not(:disabled):not(.disabled).active:focus,.btn-gold:not(:disabled):not(.disabled):active:focus,.show>.btn-gold.dropdown-toggle:focus
{box-shadow:0 0 0 .2rem rgba(233, 255, 38, 0.5)}


.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
  }

.form-group-float{position:relative;}

.form-control-float{
    position: relative;
    display: block;
    background-color: transparent;
    margin: 0px auto;
    padding: 20px;
    outline: none !important;
    font-size: 20px;
    color: rgba(0,0,0,0.8);
    transition: all .2s ease-in-out;
}

.form-control-float:focus{box-shadow:none;
    background-position: left bottom;
    background-size: 100% 1px;
  }

.label-float{
    position: absolute;
    text-align: left;
    display: block;
    background: transparent;
    color: rgba(0,0,0,0.6);
    margin: 0px auto;
    cursor: text;
    transition: all .15s ease-in-out;
    left:30px; 
    top:10px;
}
.form-control-float::placeholder{color: transparent;}
.form-control-float:focus + .label-float, .form-control-float:not(:placeholder-shown) + .label-float{left:20px; top:-3px; color: goldenrod; width: auto; background-color: transparent; }

.lobster {font-family: 'Lobster', cursive;}

.gradient-gold {
    background-image: linear-gradient(to right, #be9034, #fcf4a1, #b17816);
    background-repeat: repeat-x;
}

.oswald {font-family: 'Oswald', sans-serif;}
.opensans {font-family: 'Open Sans', sans-serif;}
.roboto {font-family: 'Roboto Condensed', sans-serif;}

.bg-responsive {
    background: url("images/conhal.png")
}

@media screen and (max-width: 600px){
    .bg-responsive {
        background: url('images/conhalsm.jpg');
        height: 60vh;
    }
    .overlay {
        opacity: 0.5;
    }
    .d-sm-nonee{display: none;}
    .oswald{font-size: 1.75rem;}
    html,body { width: 100%; margin: 0px; padding: 0px; overflow-x: hidden; }
}


@media screen and (max-width: 900px) and (min-width: 601px){
    .bg-responsive {
        background: url('images/conhalmd.png');
        height: 100vh;
    }
    .hfix {
        height: 25rem;
    }
    .d-sm-nonee{display: none;}
  }

@media screen and (max-width: 1400px) and (min-width: 901px){
  .bg-responsive {
      background: url('images/conhal.png');
      height: 100vh;
  }
    .hfix {
        height: 25rem;
    }
}

@media screen and (max-width: 5000px) and (min-width: 1401px){
   .parallax {background: url('images/conhal.png');}
   .hfix {height: 25rem;}
}

.logoo {height: 4rem;}

.cards-text {
    color: black;
    font-size: 1.25rem;
    text-align: center;
}

.goldie {
    background: -webkit-linear-gradient(to right, #775718, #fff79b, #794e04); 
    background:linear-gradient(to right, #c28f2b, #f5bb1b, #ac7311);
    /* background: -webkit-linear-gradient(#ae8625, #f7ef8a); */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
.overlayed {
    position: absolute; 
    left: 0; 
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    height: 100%;
    transition: .3s ease;
    opacity:1;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

#items {
    font-size: 1.25rem;
    color: #fffffffd;   
}
#items:hover {
    padding: 2px;
    transition: 0.55s;
}

  .owl-prev, .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border:0px solid black;
}
.owl-prev { left: 20px; }
.owl-next { right: 20px; }
.owl-prev i, .owl-next i {transform : scale(2,5); color: rgba(0, 0, 0, 0.733);}

table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  table td {
    padding: 1rem;
  }
  table td + td {
    border-left: 1px solid rgb(255, 255, 255);
  }
  table tr + tr td {
    border-top: 1px solid rgb(255, 255, 255);
  }

.goldentext {
    background: -webkit-linear-gradient(to right, #F9F295 0%, #E0AA3E 25%, #E0AA3E 50%, #8f6b35 75%, #ddbb4a 100%); 
    background:linear-gradient(to right,  #F9F295 0%, #E0AA3E 25%, #E0AA3E 50%, #B88A44 75%, #dba904 100%);
    /* background: -webkit-linear-gradient(#ae8625, #f7ef8a); */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
body::-webkit-scrollbar {width: 0.5rem;}
body::-webkit-scrollbar-track {background:  linear-gradient(0deg, #F9F295 0%, #E0AA3E 25%, #E0AA3E 50%, #B88A44 75%, #dba904 100%);}
body::-webkit-scrollbar-thumb {
  background: transparent;
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh black;
}